header {
    height: 250px;
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 930px;
    margin:0 auto;
}
.logo {
    float: left;
    margin-top: 20px;
}
nav {
    float: right;
    margin-top: 30px;
}
.menu li {
    float: left;
    display: block;
    margin-right: 51px;
}
.menu li a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
main {
    height: 400px;
}
p {
    box-sizing: border-box;
}
.menu1 li {
    float: left;
    display: block;
    margin-right: 200px;
}
.menu1 li a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}